@{
    ViewBag.Title = "Validation with HTML5 Attributes";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" style="height: 25px; padding-top: 15px; padding-bottom: 15px;">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@section scripts
{
    <script src="~/ViewModels/IndexViewModel.js"></script>

    <script type="text/javascript">
        (function() {
            var vm = new Ksj.Validation.IndexViewModel();
            var dom = $('#demoArea')[0];

            var options = {
                parseInputAttributes: true
            };

            ko.applyBindingsWithValidation(vm, dom, options);

        })();
    </script>
}

<div id="demoArea">
    <div>
        <input type="text" data-bind="value: RequiredField" required />
        <span data-bind="validationMessage: RequiredField" class="validationMessage"></span>
        <br/>
        <input type="number" data-bind="value: RangeField" min="0" max="10" />
        <span data-bind="validationMessage: RangeField" class="validationMessage"></span>
    </div>
</div>