@{
    ViewBag.Title = "Creating a Custom Inline Rule";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" style="height: 25px; padding-top: 15px; padding-bottom: 15px;">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@section scripts
{
    <script src="~/ViewModels/IndexViewModel.js"></script>
    <script type="text/javascript">
        (function() {
            var vm = new Ksj.Validation.IndexViewModel();
            var dom = $('#demoArea')[0];

            ko.applyBindings(vm, dom);

        })();
    </script>
}

<div id="demoArea">
    <div>
        <input type="text" data-bind="value: MustBePositiveValue" />
    </div>
</div>